* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-main);
  line-height: 21.09px;
  font-size: 18px;
}

li {
  display: inline-block;
  position: relative;
}

li a {
  display: block;
}

.header {
  margin: 24px 0 35px;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0px 10px;
}

.nav {
  color: #828282;
  font-weight: 700;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  transition: .3s;
  padding-right: 10px;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav__item:hover {
  color: #000;
}

.line {
  max-width: 940px;
  height: 1px;
  background-color: #828282;
}