.history {
    text-align: center;
}

.history__title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 75px;
}

.history__image-box {
    margin-bottom: 30px;
}

.history__paragraph {
    font-weight: 500;
    letter-spacing: 0em;
    margin-bottom: 70px;
}